@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif
}

.active {
    outline: 5px solid #ff0
}

:root {
    --primary-color: #168c3f;
    --secondary-color: blue
}

#preloader {
    background: #000 url(image/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000
}

::selection {
    background: var(--primary-color);
    color: #00f
}

.reveal {
    transform: translateY(50px);
    opacity: 0;
    transition: .8s
}

.reveal.acti {
    transform: translateY(0);
    opacity: 1
}

a {
    text-decoration: none
}

li {
    list-style: none
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding-inline: 30px;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    top: 0
}

.nav-left {
    display: flex;
    align-items: center
}

.nav-left img {
    width: 40px;
    height: 55px;
    margin-right: 5px
}

.nav-left h1 {
    font-size: 3.5rem;
    color: #0707ac
}

.nav-right ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 1.5rem;
    font-family: Merriweather, serif
}

.nav-right ul a {
    color: #3c00ff;
    font-weight: 600;
    transition: .5s
}

.nav-right ul a:hover {
    color: #ff0
}

.hamburger {
    display: none
}

.hamburger i {
    padding: 0;
    color: #fff;
    font-size: 2rem;
    cursor: pointer
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 50px;
    padding-top: 150px
}

.header-left h1 {
    color: #00f;
    font-size: 2.5rem
}

.header-left button {
    margin: 20px 0;
    padding: 10px;
    padding-right: 45px;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    color: #fff;
    transition: .3s
}

.header-left button span {
    font-size: 1.5rem;
    position: absolute;
    margin-left: 3px;
    transition: .3s
}

.header-left button:hover span {
    transform: translateX(6px)
}

.header-left button:hover {
    box-shadow: 5px 8px .8rem #000
}

.header-right img {
    width: 105%
}

#services {
    margin-top: 100px;
    padding-inline: 40px
}

#services h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #00f;
    text-decoration: underline;
    margin-bottom: 30px
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap
}

.main-card .card {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
    width: 27rem;
    margin-inline: 15px;
    transition: .5s
}

.main-card .card:hover {
    background: var(--primary-color);
    color: #fff
}

.main-card .card span1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary-color);
    transition: .2s
}

.main-card .card h2 {
    text-align: center;
    margin: 10px auto;
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: .2s
}

.main-card .card:hover span1 {
    color: #fff
}

.main-card .card:hover h2 {
    color: #fff
}

.main-card .card p {
    margin-bottom: 10px;
    padding-inline: 1.5rem;
    line-height: 20px;
    font-size: 15px
}

.main-card .card a {
    background-color: #00f;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    float: right;
    transition: .2s
}

.main-card .card a:hover {
    box-shadow: 3px 5px .8rem #000
}

.sub-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 90px
}

.sub-card .small-card {
    width: 250px;
    padding: 15px;
    border: 3px solid var(--primary-color);
    text-align: center;
    border-radius: 20px;
    cursor: default;
    transition: .3s
}

.sub-card .small-card i {
    font-size: 2rem;
    color: var(--primary-color);
    transition: .3s
}

.sub-card .small-card p {
    color: #00f;
    transition: .3s
}

.sub-card .small-card:hover {
    background: var(--primary-color);
    box-shadow: 3px 5px .5rem #000;
    transform: scale(1.04)
}

.sub-card .small-card:hover i {
    color: #fff
}

.sub-card .small-card:hover h3 {
    color: #fff;
    transition: .3s
}

.sub-card .small-card:hover p {
    color: #fff
}

.checkup {
    padding-top: 100px
}

.checkup h1 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #00f;
    padding-top: 30px
}

.checkup .book {
    display: flex;
    margin: 20px 60px;
    align-items: center;
    justify-content: space-around
}

.left-booking-section img {
    width: 750px
}

.right-booking-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 30px;
    padding-right: 45px;
    border-radius: 20px;
    border: 2px solid var(--primary-color)
}

.right-booking-section input {
    width: 97%;
    margin: 10px;
    padding: 9px;
    font-size: 1rem;
    transition: .1s
}

.right-booking-section input:focus {
    outline: 3px solid #00ff59;
    border: none
}

.right-booking-section input[type=submit] {
    background-color: #168c3f;
    border: none;
    outline: 0;
    width: 200px;
    transform: translateX(13rem);
    font-size: 1.2rem;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s
}

.right-booking-section input[type=submit]:hover {
    box-shadow: 0 0 .8rem #000;
    transform: translateX(13rem) scale(1.05)
}

.popup {
    background: var(--primary-color);
    padding: 20px;
    margin: 40px;
    transform: translateY(500px) translateY(40px) scale(.1);
    width: 460px;
    height: 140px;
    border: 3px solid #00f;
    border-radius: 5px;
    transition: .5s;
    display: none;
    visibility: hidden
}

.popup .cnt p {
    color: #fff;
    text-align: center;
    font-size: 20px
}

.popup button {
    padding: 5px;
    font-size: 1rem;
    width: 80px;
    border: 1px solid #00f;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #8a2be2;
    color: #fff;
    transform: translateY(20px);
    cursor: pointer;
    float: right;
    transition: .3s
}

.popup button:hover {
    transform: translateY(20px) scale(1.12)
}

.pop-up {
    display: block;
    visibility: visible;
    transform: translateX(500px) translateY(50px) scale(1);
    z-index: 1000;
    position: fixed;
    transition: .5s
}

footer {
    background-color: #2d2b2b;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0 !important;
}

#contact {
    background-color: #2d2b2b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 0 !important;
    margin-top: 50px;
    position: absolute;
    width: 100%
}

#contact .left {
    color: #fff
}

#contact .middle {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    flex-wrap: wrap;
    text-align: center
}

#contact .middle a {
    color: var(--primary-color);
    transition: .2s
}

#contact .middle a:hover {
    transform: scale(1.05);
    text-decoration: underline
}

#contact .right a {
    color: #00c3ff;
    display: flex;
    flex-direction: row;
    line-height: 40px;
    transition: .2s
}

#contact .right a:hover {
    transform: scale(1.2)
}

#contact .right #call,
#mail {
    display: flex;
    align-items: center;
    justify-content: center
}

#contact .right #call i,
#mail i {
    font-size: 20px;
    margin-right: 10px
}

#contact .right #call i {
    color: var(--primary-color)
}

#contact .right #mail i {
    color: #b300ff
}

#contact .social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    gap: 20px;
    margin-top: 15px
}

#contact .social-media #facebook {
    background-color: #fff;
    border-radius: 25px
}

#contact .social-media #instagram {
    border-radius: 25px;
    color: #e0f
}

#contact .social-media #youtube {
    color: #cd201f;
    border-radius: 25px
}

.copyright {
    background-color: #2d2b2b;
    padding: 10px 0;
    z-index: 100;
    text-align: center;
    color: #235ad0;
}